* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("/Chap_5/img/background.png");
}

.game-top-ui {
  height: 200px;
  text-align: center;
  padding-top: 20px;
  font-size: 40px;
}

.play-btn {
  padding: 8px 18px;
  font-size: 16px;
  border: 3px solid black;
  border-radius: 8px;
  background-color: beige;
}

.play-btn:hover {
  cursor: pointer;
  opacity: .8;
}

.game-timer {
  font-size: 30px;
  margin: 12px 0;
}

.game-score {
  width: 50px;
  height: 50px;
  line-height: 48px;
  display: inline-block;
  font-size: 24px;
  border: 3px solid black;
  border-radius: 50%;
  background-color: beige;
}